*.DS_Store
*.exe
*.lib
*.o
*.obj
*.sublime-workspace
.dub
__dummy.html
bin/*
docs.json
docs/main.html
docs/package.html
dub.selections.json
libscone.a
scone.log
source/scone/main.d
app.d
.vs/
source/main.d
