body
{
    font-family: sans-serif;
    color: white;
    background: #111;
    padding: 1em;
}
.d_code
{
    color: black;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px black inset;
}
big
{
    color: #66D9EF;
}

big u
{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
hr
{
    display: none
}
small a
{
    color: white;
}