name: test

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: dlang-community/setup-dlang@v1.0.3

      - name: Test
        run: dub test --config=ci --coverage
      
      - name: Simple code coverage
        run: tlc=$(grep -Eh '^\s*(\d+)' -- *.lst | wc -l | xargs)
        run: elc=$(grep -Eh '^0000000' -- *.lst | wc -l | xargs)
        run: echo "code coverage:"
        run: echo "scale=2;1-($elc/$tlc)" | bc
